.video-list-item {
    overflow: hidden;
    max-width: 100%;
    position: relative;
    margin: 20px 0;
}

.video-list-item::before {
    content: "";
    display: block;
    width: 100%;
    padding-top: 56.25%;
}


.video-list-item iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
